/* Variables */
:root {
    --red: #ba4270;
    --red-light: #da6d97;
    --white: #fbfcfe;
    --blue-light: #6c8294;
    --blue: #36536b;
    --blue-dark: #1b262f;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: "Public Sans";
}
/* Typography */
h1 {
    font-size: 5.5rem;
    line-height: 1.1;
    font-weight: 900;
    color: var(--blue);
}
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
.white--outline__btn {
    text-decoration: none;
    color: var(--white);
    padding: 0.75rem 2rem;
    border: 1px solid var(--white);
    border-radius: 50px;
    position: relative;
    top: 2rem;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ------ HOME ------  */
/* Hero Section */
.hero--section {
    position: relative;
    overflow-x: hidden;
}
.hero--section::before {
    content: "";
    position: absolute;
    right: -6rem;
    top: -20rem;
    width: 900px;
    height: 900px;
    background-image: url(./../src/img-icon/bg-pattern-circle.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.hero--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero--container :where(.left, .right){
    flex: 1;
}
.hero--container .right {
    text-align: center;
}
.hero--section h1 {
    margin-bottom: 1.5rem;
}
/* We Work */
.work--sec {
    background: var(--blue-dark);
    padding: 4rem 0;
}
.we--work {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.we--work .left {
    flex: 1;
}
.we--work .right {
    flex: 2;
}
.brands--box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem;
}
.we--work :where(h2, p) {
    color: var(--white);
}
.brands--box a {
    text-align: center;
}
/* Book Demo Form */
.book--demo input {
    padding: 1rem;
    width: 60%;
    border: none;
    box-shadow: -1px 4px 19px #00000057;
    border-radius: 50px;
}
input[type="email"]::placeholder {
    font-family: "Public Sans";
    font-size: 1rem;
    color: var(--blue);
    font-weight: 500;
}
.book--demo button[type="submit"] {
    background: var(--red);
    color: var(--white);
    padding: 1rem 2rem;
    line-height: 1;
    border-radius: 50px;
    border: none;
    font-family: "Public Sans";
    font-weight: 500;
    text-transform: uppercase;
    margin-left: -3.5rem;
    cursor: pointer;
}
.book--demo input[type="email"]:focus-visible {
    outline: none;
}
.book--demo :where(p, a) {
    margin-top: 1rem;
    color: var(--blue);
    font-family: "Public Sans";
}
/* end of Book Demo Foem */

/* Features */
.features--sec {
    padding: 4rem 0;
}
.easy-implement {
    display: flex;
    align-items: center;
    justify-content: center;
}
.easy-implement  :where(.left, .right){
    flex: 1;
}
.easy-implement .left {
    text-align: center;
}
.easy-implement img{
    width: 100%;
}
.features--text {
    width: 75%;
}
.features--text h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    font-family: 'Public Sans' !important;
    font-weight: 800;
}